body{
  background-image: url(images/bg4.jpg);   
  direction:rtl;
}
.header
{
  height:auto;
    padding:3px 3px;
    font-family:B Titr;
    font-size:18px;
    width: 99%;
    background-repeat: no-repeat;
    text-align:center;
    background-color:Window;
       
    
        border-top-left-radius: 15px;
        border-top-right-radius: 8px 8px; 
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 7px 7px;  

	text-align: center; 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
	background: #F9FDE8;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F9FDE8), to(#EEC8DA));
	background: -webkit-linear-gradient(#F9FDE8, #EEC8DA);
	background: -moz-linear-gradient(#F9FDE8, #EEC8DA);
	background: -ms-linear-gradient(#F9FDE8, #EEC8DA);
	background: -o-linear-gradient(#F9FDE8, #EEC8DA);
	background: #F9FDE8;
	-pie-background: linear-gradient(#F9FDE8, #EEC8DA);
	behavior: url(/pie/PIE.htc)	
		position: relative; 	
    
}
 
a:link, a:visited { color: #b7bd19; text-decoration: none; font-weight: bold;} 
a:active, a:hover { color: #b7bd19; text-decoration: underline;}
 
 
*{
   padding:2px 2px 2px 2px;
	color: #003366;
	font-size: small;
	font-family: Tahoma;
	margin-left: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}
 
.menu
{
   
  width: 24%;
  height:auto;
  float: right;
  background-color:#F8F8FF;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 11px;
  text-align:right;
        border-top-left-radius: 30px;
        border-top-right-radius: 15px 15px; 
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 15px 15px;  

	/*text-align: center; */
 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
	background: #F9FDE8;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F9FDE8), to(#EEC8DA));
	background: -webkit-linear-gradient(#F9FDE8, #EEC8DA);
	background: -moz-linear-gradient(#F9FDE8, #EEC8DA);
	background: -ms-linear-gradient(#F9FDE8, #EEC8DA);
	background: -o-linear-gradient(#F9FDE8, #EEC8DA);
	background: #F9FDE8;
	-pie-background: linear-gradient(#F9FDE8, #EEC8DA);
	behavior: url(/pie/PIE.htc)	
		position: relative; 	
}

.link
{
   
  width: 24%;
  height: 100%;
  float: left;
  background-color:#F8F8FF;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 11px;
   text-align:right;

        border-top-left-radius: 30px;
        border-top-right-radius: 15px 15px; 
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 15px 15px;
	
	/*text-align: center; */ 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
	background: #F9FDE8;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F9FDE8), to(#EEC8DA));
	background: -webkit-linear-gradient(#F9FDE8, #EEC8DA);
	background: -moz-linear-gradient(#F9FDE8, #EEC8DA);
	background: -ms-linear-gradient(#F9FDE8, #EEC8DA);
	background: -o-linear-gradient(#F9FDE8, #EEC8DA);
	background: #F9FDE8;
	-pie-background: linear-gradient(#F9FDE8, #EEC8DA);
	behavior: url(/pie/PIE.htc)	
		position: relative; 		  
			

}
.content{
  width: 48%;
  height:auto;
  float: right;
  background-color:#BCD4F8;       
  font-family: Tahoma, Arial, sans-serif;
  font-size: 12px;

        border-top-left-radius: 30px;
        border-top-right-radius: 15px 15px; 
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 15px 15px;

		
	/*text-align: center; */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
	background: #F9FDE8;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F9FDE8), to(#EEC8DA));
	background: -webkit-linear-gradient(#F9FDE8, #EEC8DA);
	background: -moz-linear-gradient(#F9FDE8, #EEC8DA);
	background: -ms-linear-gradient(#F9FDE8, #EEC8DA);
	background: -o-linear-gradient(#F9FDE8, #EEC8DA);
	background: #F9FDE8;
	-pie-background: linear-gradient(#F9FDE8, #EEC8DA);
	behavior: url(/pie/PIE.htc)	
		position: relative; 		
          
 }
.DataList
{
  /*background-image: url(images/bg2.jpg);
  width:100%;*/
  border: 1px solid #696;
	
	/*text-align: center; */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
	background: #F9FDE8;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F9FDE8), to(#EEC8DA));
	background: -webkit-linear-gradient(#F9FDE8, #EEC8DA);
	background: -moz-linear-gradient(#F9FDE8, #EEC8DA);
	background: -ms-linear-gradient(#F9FDE8, #EEC8DA);
	background: -o-linear-gradient(#F9FDE8, #EEC8DA);
	background: #F9FDE8;
	-pie-background: linear-gradient(#F9FDE8, #EEC8DA);
	behavior: url(/pie/PIE.htc)	
		position: relative; 	    
          
 
}

.footer
{
  height:auto;
    padding:3px 3px;
    font-family:B Titr;
    font-size:18px;
    width: 99%;
    background-repeat: no-repeat;
    text-align:center;
    background-color:Window;
       
    
        border-top-left-radius: 15px;
        border-top-right-radius: 8px 8px; 
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 7px 7px;  

	text-align: center; 
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #666 0px 2px 3px;
	-moz-box-shadow: #666 0px 2px 3px;
	box-shadow: #666 0px 2px 3px;
	background: #F9FDE8;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#F9FDE8), to(#EEC8DA));
	background: -webkit-linear-gradient(#F9FDE8, #EEC8DA);
	background: -moz-linear-gradient(#F9FDE8, #EEC8DA);
	background: -ms-linear-gradient(#F9FDE8, #EEC8DA);
	background: -o-linear-gradient(#F9FDE8, #EEC8DA);
	background: #F9FDE8;
	-pie-background: linear-gradient(#F9FDE8, #EEC8DA);
	behavior: url(/pie/PIE.htc)	
		position: relative; 	
    
}